<div class="post">
<h1><%= @post.title %></h1>
<!-- strftime is used to format the date(month, day, year) -->
<small><%=  @post.created_at.strftime("%b %d. %Y") %></small>
<p><%=  @post.body %></p>
<!--<%= link_to "Edit Post", edit_post_path %> |
<%= link_to "Delete Post", @post, :confirm => "Are you sure you want to delete?",:method => :delete%>-->
<!-- pipe is used to seperate 2 links.... :confirm is used if user really wants to delete the post :method is used to call :delete function -->

<!-- showing the catergory-->
<p>Catergory: <%= link_to @post.category.name, category_path(:id => @post.category.id) %></p>
<p><%= link_to 'Back', posts_path %></p>
</div>